name: Build

on:
  [push]

jobs:
  build:
    strategy:
      matrix:
        os: [ubuntu-22.04, ubuntu-20.04]
    runs-on: ${{ matrix.os }}
    steps:
    - name: Prepare on ubuntu
      run: |
        curl -s https://nginx.org/keys/nginx_signing.key | sudo gpg --quiet --no-default-keyring --keyring gnupg-ring:/etc/apt/trusted.gpg.d/nginx.gpg --import
        sudo chown _apt /etc/apt/trusted.gpg.d/nginx.gpg
        echo "deb [arch=amd64] https://nginx.org/packages/mainline/ubuntu $(lsb_release -c -s) nginx" | sudo tee -a /etc/apt/sources.list.d/nginx.list >> /dev/null
        echo "deb-src https://nginx.org/packages/mainline/ubuntu $(lsb_release -c -s) nginx" | sudo tee -a /etc/apt/sources.list.d/nginx.list >> /dev/null
        sudo apt-get -qq update
        sudo apt-get -qq build-dep nginx
        sudo apt-get -qq source nginx
        mv $(ls -F | grep nginx | grep /$) nginx-src