name: Build

on:
  [push]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: Install dependencies
      run: |
        apt-get update
        apt-get install -y mercurial build-essential
    - name: Clone BoringSSL
      run: |
        git clone https://boringssl.googlesource.com/boringssl
    - name: Build BoringSSL
      run: |
        cd boringssl
        mkdir -p build/ssl build/crypto
        cd build
        cmake ..
        make
    - name: Configure and build nginx-quic
      run: |
        cd ../../nginx-quic
        ./auto/configure --with-debug --with-http_v3_module         \
                         --with-cc-opt="-I../boringssl/include"     \
                         --with-ld-opt="-L../boringssl/build/ssl    \
                                        -L../boringssl/build/crypto"
        make
    - name: Upload artifact
      uses: actions/upload-artifact@v2
      with:
        name: nginx-quic
        path: objs/nginx
