name: Build

on:
  [push]

jobs:
  build:
    strategy:
      matrix:
        os: [ubuntu-22.04, ubuntu-20.04]
    runs-on: ${{ matrix.os }}
    steps:
    - name: Prepare on ubuntu
      run: |
        curl -s https://nginx.org/keys/nginx_signing.key | sudo gpg --quiet --no-default-keyring --keyring gnupg-ring:/etc/apt/trusted.gpg.d/nginx.gpg --import
        sudo chown _apt /etc/apt/trusted.gpg.d/nginx.gpg
        echo "deb [arch=amd64] https://nginx.org/packages/mainline/ubuntu $(lsb_release -c -s) nginx" | sudo tee -a /etc/apt/sources.list.d/nginx.list >> /dev/null
        echo "deb-src https://nginx.org/packages/mainline/ubuntu $(lsb_release -c -s) nginx" | sudo tee -a /etc/apt/sources.list.d/nginx.list >> /dev/null
        sudo apt-get -qq update
        sudo apt-get install -qq mercurial
        sudo apt-get install golang libunwind-dev
        sudo apt-get build-dep -qq nginx
    - name: Get NGINX source code
      run: |
        sudo apt-get source -qq nginx
        mv $(ls -F | grep nginx | grep /$) nginx-src
    - name: Get NGINX-QUIC source code
      run: |
        hg clone -b quic https://hg.nginx.org/nginx-quic
        sudo rsync -r nginx-quic/ nginx-src/
    - name: Get BoringSSL source code
      run: |
        git clone https://github.com/google/boringssl
        cd boringssl/
        mkdir build
        cd build
        cmake ../
        make